<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqIntegralMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqIntegral">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="integral_detail" property="integralDetail" />
        <result column="way_type" property="wayType" />
        <result column="product_id" property="productId" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, integral_detail AS integralDetail, way_type AS wayType, product_id AS productId, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, delete_flag AS deleteFlag
    </sql>

</mapper>
