<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqPostDateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqPostDate">
        <id column="id" property="id" />
        <result column="post_date_name" property="postDateName" />
        <result column="post_date_type" property="postDateType" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="post_date_id" property="postDateId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, post_date_name AS postDateName, post_date_type AS postDateType, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, delete_flag AS deleteFlag,post_date_id as postDateId
    </sql>

</mapper>
