<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqProduct">
        <id column="id" property="id" />
        <result column="product_name" property="productName" />
        <result column="product_orgin_price" property="productOrginPrice" />
        <result column="product_now_price" property="productNowPrice" />
        <result column="product_num" property="productNum" />
        <result column="post_price" property="postPrice" />
        <result column="recommend_brand" property="recommendBrand" />
        <result column="sell_num" property="sellNum" />
        <result column="remain_num" property="remainNum" />
        <result column="product_dec" property="productDec" />
        <result column="sort_id" property="sortId" />
        <result column="scope_id" property="scopeId" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="deleteFlag" property="deleteFlag" />
        <result column="recommend_boutique" property="recommendBoutique" />
        <result column="product_type" property="productType"></result>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_name AS productName, product_orgin_price AS productOrginPrice, product_now_price AS productNowPrice, product_num AS productNum, post_price AS postPrice, recommend_brand AS recommendBrand, sell_num AS sellNum, remain_num AS remainNum, product_dec AS productDec, sort_id AS sortId, scope_id AS scopeId, sort, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, deleteFlag, recommend_boutique AS recommendBoutique
    </sql>


    <select id="shopProductList" resultType="java.util.Map" parameterType="java.util.Map">
          SELECT
			sp.id,
			sp.product_name,
			sp.product_now_price,
			sp.product_orgin_price,
			spf.file_path as file_path
		FROM
			wwq_product AS sp
		LEFT JOIN wwq_product_file AS spf ON sp.id = spf.product_id and spf.file_type = 0
		LEFT JOIN wwq_sort as ss1 on ss1.id = sp.sort_id
		WHERE sp.deleteFlag = 0
		and spf.deleteFlag = 0
		and ss1.id = #{sortId}
    </select>


    <select id="shopRecommended" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
			sp.id,
			sp.product_name,
			sp.product_now_price,
			sp.product_orgin_price,
			sp.create_date,
			spf.file_path as file_path
		FROM
			wwq_product AS sp
		LEFT JOIN wwq_product_file AS spf ON sp.id = spf.product_id and spf.file_type = 0
		WHERE sp.deleteFlag = 0
		and spf.deleteFlag = 0
		<if test="type == 1">
            and sp.recommend_boutique=1
        </if>
        <if test="type == 2">
            and sp.recommend_brand=1
        </if>
    </select>


    <select id="searchShopProductList" resultType="java.util.Map" parameterType="java.util.Map">
          SELECT
			sp.id,
			sp.product_name,
			sp.product_now_price,
			sp.product_orgin_price,
			spf.file_path as file_path
		FROM
			wwq_product AS sp
		LEFT JOIN wwq_product_file AS spf ON sp.id = spf.product_id
		WHERE sp.deleteFlag = 0
		and spf.deleteFlag = 0
		and sp.product_name like CONCAT('%',#{productName},'%')
    </select>

    <select id="shopProductListInfo" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
            wp.id,wp.`product_name`,
            wpf.file_path as file_path,
            wp.`product_dec`,wp.`product_orgin_price` ,
            wp.`product_now_price`,
            wp.`sell_num`,
            wp.`remain_num`,
            wp.`post_price`,
            wp.product_type
        FROM `wwq_product` as wp LEFT JOIN `wwq_product_file` as wpf on wpf.`product_id` = wp.`id` and wpf.`deleteFlag` =0 and wpf.`file_type` = 0
        where wp.id =#{id} and wp.`deleteFlag` =0
    </select>

    <select id="selectProductInfoByKey" parameterType="java.lang.String" resultType="com.example.wwq.entity.WwqProduct">
        select * from wwq_product where id = #{id} and deleteFlag = 0
    </select>


    <select id="getProductById" parameterType="java.lang.String" resultType="com.example.wwq.DO.ProductAddDO">
         SELECT
            p.id, p.product_name AS productName, p.product_orgin_price AS productOrginPrice, p.product_now_price AS productNowPrice, p.product_num AS productNum,
            p.post_price AS postPrice, p.recommend_brand AS recommendBrand, p.sell_num AS sellNum, p.remain_num AS remainNum,
            p.product_dec AS productDec, p.sort_id AS sortId, p.scope_id AS scopeId, p.sort, p.remark, p.create_date AS createDate,
            p.create_user AS createUser, p.update_date AS updateDate, p.update_user AS updateUser, p.deleteFlag, p.recommend_boutique AS recommendBoutique,
            p.product_type as productType,
            pd.id as detailId,pd.post_way_id as postWayId,pd.delivery_area_id as deliveryAreaId,pd.remark as detailRemark
        FROM
        wwq_product p
        left join wwq_product_detail pd on p.id=pd.shop_product_id
        left join wwq_sort s on s.id=p.sort_id
        where 1=1 and p.id = #{id}
        and p.deleteFlag = 0
    </select>

    <select id="getAllProduct" resultType="com.example.wwq.DO.ProductDO" parameterType="com.example.wwq.DO.ProductDO">
        SELECT
        p.id as productId,p.product_name as productName,p.product_orgin_price as productOrginPrice,
        p.product_now_price as productNowPrice,p.sell_num as sellNum,
        p.remain_num as remainNum,p.product_num as productNum,p.product_dec as productDec,p.product_type as productType,
        s.name as sortName,pd.id as detailId
        FROM
        wwq_product p
        left join wwq_product_detail pd on p.id=pd.shop_product_id
        left join wwq_sort s on s.id=p.sort_id
        where 1=1
        <if test="productName!=null and productName!=''">
            and p.product_name like '%${productName}%'
        </if>
         and p.deleteFlag = 0
        order by p.create_date desc
    </select>

</mapper>
