<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqShareCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqShareCount">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_level" property="userLevel" />
        <result column="first_share_num" property="firstShareNum" />
        <result column="second_share_num" property="secondShareNum" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, user_level AS userLevel, first_share_num AS firstShareNum, second_share_num AS secondShareNum, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, delete_flag AS deleteFlag
    </sql>

    <select id="getAllShareCount" parameterType="com.example.wwq.DO.WwqShareCountDO" resultType="com.example.wwq.DO.WwqShareCountDO">
        SELECT
            sc.user_id as userId,u.nickname as userName,sc.user_level as userLevel,sc.first_share_num as firstShareNum,
            sc.second_share_num as secondShareNum,sc.create_date as creatDate,sc.remark
        FROM
            wwq_share_count sc
            LEFT JOIN wwq_user u ON u.id = sc.user_id
        WHERE
            sc.delete_flag = 0    AND u.delete_flag =0
            <if test="userName!=null and userName!=''">
              and u.nickname like '%${userName}%'
            </if>
    </select>

    <select id="getShareUserList" resultType="com.example.wwq.DO.WwqShareUserListDO" parameterType="com.example.wwq.DO.WwqShareUserListDO">
        select 1 as level,suc.user_id as userId,u.nickname as userName,sc.user_level as userLevel,up.nickname as parentUserName from wwq_share_user_concart suc
            left join wwq_user u on u.id=suc.user_id
            left join wwq_share_count sc on sc.user_id=u.id
            left join wwq_user up on up.id=suc.parent_id
        where parent_id=#{userId}

        union

        select 2 as level,suc.user_id as userId,u.nickname as userName,sc.user_level as userLevel,up.nickname as parentUserName from wwq_share_user_concart suc
            left join wwq_user u on u.id=suc.user_id
            left join wwq_share_count sc on sc.user_id=u.id
            left join wwq_share_user_concart sucp on suc.parent_id=sucp.user_id
            left join wwq_user up on up.id=suc.parent_id
        where sucp.parent_id=#{userId}
    </select>
</mapper>
