<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqUserScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqUserScore">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="score" property="score" />
        <result column="consume_score" property="consumeScore" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, score, consume_score AS consumeScore, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, delete_flag AS deleteFlag
    </sql>

    <select id="getAllUserScore" resultType="com.example.wwq.DO.UserScoreListDO" parameterType="com.example.wwq.DO.UserScoreListDO">
        SELECT i.integral_detail as integralDetail,i.product_id as productId,p.product_name as productName,
            i.way_type as wayType,i.create_date as createDate,i.user_id as userId
            from wwq_integral i left join wwq_product p on p.id=i.product_id
        where i.delete_flag=0 and i.user_id =#{userId}
    </select>
</mapper>
