<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqUser">
        <id column="id" property="id" />
        <result column="open_id" property="openId" />
        <result column="nickname" property="nickname" />
        <result column="phone" property="phone" />
        <result column="headimgurl" property="headimgurl" />
        <result column="sex" property="sex" />
        <result column="language" property="language" />
        <result column="city" property="city" />
        <result column="province" property="province" />
        <result column="country" property="country" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="deleteFlag" property="deleteFlag" />
        <result column="level_up" property="levelUp"></result>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, open_id AS openId, nickname, phone, headimgurl, sex, language, city, province, country, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, deleteFlag
    </sql>

    <select id="getAllUser" resultType="com.example.wwq.DO.UserListDO" parameterType="com.example.wwq.DO.UserListDO">
        SELECT u.id as id,u.nickname as nickName,u.headimgurl,u.phone,u.sex,
            us.score,us.consume_score as consumeScore,u.create_date as createDate
        from wwq_user u left join wwq_user_score us on u.id=us.user_id
        where u.delete_flag=0
        <if test="nickName!='' and nickName!=''">
            and u.nickname like '%${nickName}%'
        </if>
    </select>
</mapper>
